.container {
    padding: 0 2rem;
    background-color: beige;
    font-family: 'Roboto';
}

.main {
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: 350px 350px;    
    flex: 2; */
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    transition-duration: 0.5s;
}

.card:hover {
    transform: scale(105%);
}

.content {
    padding-top: 10px;
}

.wheel1 {
    /* overflow: hidden; */
    /* position: absolute; */
    left: 35vw;
    width: 200px;
    height: 200px;
    border: solid black 1px;
    border-radius: 50%;
    background-color: blue;
    animation: on-load .3s ease-in-out forwards;
    transform: translate(250px);
}

.wheel2 {
    /* overflow: hidden; */
    /* position: absolute; */
    left: 35vw;
    width: 200px;
    height: 200px;
    border: solid black 1px;
    border-radius: 50%;
    background-color: blue;
    --angle: calc(360deg/var(2));
    --rotation: calc(140deg + var(--angle)*var(2));
    transform: rotate(var(--rotation)) translate(calc(160px + 80px*2)) rotate(calc(var(--rotation)*-1));
}

@media (max-width: 600px) {
    .main {
      width: 100%;
      grid-template-columns: minmax(250px,350px);
    }
  
}

@keyframes on-load {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    70% {
      opacity: .7;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

