.container {
    padding: 0 2rem;
    background-color: beige;
    font-family: 'Roboto';
}

.main {
    min-height: 100vh;
    display: flex;
    grid-template-columns: 350px 350px;    
    flex: 2;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
}

.loading {
    text-align: center;
}

@media (max-width: 600px) {
    .main {
      width: 100%;
      grid-template-columns: minmax(250px,350px);
    }
  
  }